AddHandler cgi-script .cgi .pl
Options +ExecCGI
DirectoryIndex index.pl
AuthName MUHCAD.MUHCFRD.CA
AuthType Kerberos
Krb5Keytab /etc/krb5.keytab
KrbAuthRealm MUHCAD.MUHCFRD.CA
KrbServiceName HTTP/lxkvmap06.muhcad.muhcfrd.ca
KrbMethodNegotiate on
KrbMethodK5Passwd off
KrbSaveCredentials on
KrbVerifyKDC off
Require valid-user
